*{
   box-sizing: border-box;
   font-family: sans-serif;
}
body{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.top{
   display: flex;
   flex-direction: column;
   justify-content: left;
   align-items:flex-start;
}
.top .cr7{
   display: flex;
   flex-direction: row ;
   font-size: 13px;
   margin-top: 10px;
}
.top .cr7 .microsoft img{
   width:20px;
   height: 20px;
}
.top .cr7 .microsoft{
   display: flex;
   flex-direction: row;
}
.top .cr7 .microsoft p{
   margin:5px;
   margin-top:0.5px;
   color: grey;
}
.top .cr7 .aa{
   display: flex;
   flex-direction: row;
   margin-top:-13px;
   margin-left: 100px;
}
.top .cr7 .aa ul:first-child{
   margin-right: 700px;
}
.top .cr7 .aa ul{
   display: flex;
   flex-direction: row;
}
.top .cr7 .aa ul li{
   margin-right: 20px;
   list-style-type: none;
}
.top .cr7 .aa ul li a{
   text-decoration: none;
   color: grey;
}
.top .image{
   display: flex;
   flex-direction: row;
   background-color: rgba(231, 230, 230, 0.896);
   align-items: center;
}
.top .image .left{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.top .image .left .m{
   font-weight: bold;
   font-size: 30px;
}
.top .image .left .p{
   margin-top:-15px;
   margin-left: 37.5%;
}
.top .image .left .buttons{
   display: flex;
   flex-direction: row;
   margin-left:18px;
}
.top .image .left .buttons button{
   border-radius: 0;
   border:1px solid black;
   background-color: black;
   color:white;
   width:120px;
   font-size: 12px;
   height:30px;
   margin-left: 120px;
}
.top .image .left .buttons p{
   margin-left: 100px;
   margin-top:8px;
   font-weight: bold;
   font-size: 12px;
}
.top .image .right img{
   background-color: rgba(231, 230, 230, 0.896);
   width:970px;
   height:700px;
}
.bot{
   display: flex;
   flex-direction: row;
   margin:15px;
}
.bot img{
   width:400px;
   height:200px;
}
.bot #str{
   font-weight: bold;
}
.bot a{
   text-decoration: none;
   font-weight: bold;
   color:dodgerblue
}


